
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Titillium+Web&display=swap');
/* general declaration */

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Titillium Web', sans-serif; */
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ====================================
                                        main container
                                                 =================================================================  */

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

/* general declarations for the divs  */
.box{
    /* border: 2px solid #ddeeaa; */
    padding: 10px;
    text-align: left;
    /* background-color: rgb(67, 46, 49); */
    background-color: rgb(73, 98, 141);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4), 0px 0px 6px 3px rgba(26, 26, 26, 0.2);
}

    /* give border to selected divs  */
.box:not(.nav_content, .aside, .header, .footer){
    border: 2px groove rgb(33, 16, 2);
}

    /* give border-radius to selected divs  */
.box:not(.nav_content, .footer){
    border-radius: 10px;
}
 
    /* headings styling for h3 in the various boxes  */
h2, h3{
    padding: 10px 0px;
    margin: 5px 0px;
    font-weight: 600;
    color: #ddeeaa;
    font-family: 'Titillium Web', sans-serif;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

    /* p element styling  */
p{
    padding: 10px 0px;
    font-weight: 500;
    font-size: 14px;
    color: #e0d7b4;
}

    /* image section  */

/* icon on the header class  */
.header_icon img{
        width: 100px;
        height: 100px;
}

.adjust{
   margin-left: 20px;
}

.space{
    margin-left: 8px;
}

 /* ======================================================================
                                        nav bar content ================================================================ */
.nav_content{
    grid-column: 1 / 4; 
    /* grid-column: 1 / span 2; */
    background-color: rgb(67, 46, 49); 
}

.nav_content ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.nav_content ul li{
  /* float: left; */
  display: inline-flex;
}

.nav_content ul li a{
    color: #ddeeaa;
    text-decoration: none;
    padding: 16px 20px;
    display: block;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
}

.nav_content ul li a:hover, .dropdown:hover{
    background-color: #737470;
    color: #ffeeff;
    border-radius: 8px;
}

    /* sub menu items for more menu */
.drop_content ul{
    list-style-type: none;
    margin: 0px;
    /* padding: 0px; */
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4), 0px 0px 6px 0px rgba(26, 26, 26, 0.2);
    /* background-color: #0c1003; */
    background-color: #2b2d2f;
    padding: 10px;
    min-width: 160px;
    border-radius: 8px;
    position: absolute;
    margin-top: 56px;
    margin-left: -125px;
    z-index: 1;
}

.drop_content ul li{
   /* float: none; */
    display: block;
}

.drop_content ul li a{
    /* color: #737470; */
    text-align: left;
    color:  rgb(235, 255, 255);
 }

 .drop_content ul li a:hover, .dropdown_learning_menu:hover{
    background-color: #737470;
    border-radius: 8px;
    color:  rgb(235, 255, 255);
}

.drop_content ul{
    display: none;
}

.dropdown:hover .drop_content ul{
    display: block;
}


/* sub menu for learning menu  */

.learning_menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px; 
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4), 0px 0px 6px 0px rgba(26, 26, 26, 0.2);
    background-color: #2b2d2f;
    min-width: 200px;
    border-radius: 8px;
    position: absolute;
    margin-left: 150px;
    margin-top: -55px;
    z-index: 1;
}

.learning_menu ul li{
    display: block;
}

.learning_menu ul li a{
    text-align: left;
    /* color:  rgb(104, 159, 159); */
    color:  rgb(235, 255, 255);
}

.learning_menu ul li a:hover{
    background-color: #737470;
    color:  rgb(235, 255, 255);
}

.learning_menu{
    display: none;
}

.dropdown_learning_menu:hover .learning_menu{
    display: block;
}


/* ======================================================sub menu for the learning menu  */

    /* the learning sub menu main container  */


    /* ====================================================
                                    aside content   =============================================================  */
.aside{
    grid-row: 2 / 5;
    background-color: rgb(46, 58, 58);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.8);
}
/* 
    ====================================================
    bold content with an icon =========================================================================== */
.header{
    grid-column: 2 / 4;
    background-color: rgb(46, 58, 58);
    /* padding: 80px 50px; */
    display: flex;
}

    /* section for the text  */
.header_content{
    flex: 3;
    padding: 80px 50px;
}

    /* section for the icon  */
.header_icon{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

.header h3{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.header p{
  text-align: left;
}
    /* styling the first p element on header class  */
.header p:not(p:last-of-type){
    font-size: 16px;
    color: #e2e;
    text-transform: capitalize;
  }
  

  /* footer section  */
.footer{
    grid-column: -4 / -1;
    background-color: rgb(33, 16, 2);
}
